* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    clear: both;
    background: rgb(247, 189, 189);
    border: 2px dashed lightcoral;
    height: 1500px;
    width: 500px;
}

.mickey,
.donald,
.minnie,
.daisy {
    float: left;
    align-content: center;
}

.mickey {
    padding-right: 1rem;
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
}

.donald {
    padding-right: 2em;
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
}

.minnie {
    padding-right: 2rem;
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
}

.daisy {
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
}