@import "sass/base";
nav {
  @include nav($c-mandys-pink);
  a {
    @include links($c-dark-golden-rod);
    line-height: 0.5em;
  }
}

a {
  @include links($c-dark-golden-rod);
  line-height: 0.5em;
}

hr {
  @include hr;
}

body {
  color: $c-night-rider;
  font-family: $font-stack-secondary;
  line-height: 1.6;
  text-align: left;
}

/* CONTENT & CONTAINERS */

main {
  align-content: center;
  background: $c-mandys-pink;
  padding: 0 15% 20%; // clockwise
  width: 100%;
  h2 {
    column-span: all;
    text-align: left;
  }
  .img {
    display: block;
    padding-left: 20%;
    margin: 0 auto;
    width: 100%;
  }
}

.p-css-architecture {
  @include p($padding-top: 20px);
}

.blogpost__text--space h3 {
  @media (min-width: 300px) {
    font-size: $fs-subhead;
    padding-left: 5%;
    text-align: left;
  }
  @media (min-width: 768px) {
    font-size: $fs-subhead;
    padding-left: 0;
    text-align: left;
  }
  @media (min-width: 900px) {
    font-size: $fs-subhead-large;
    text-align: left;
  }
}

.blogpost__text--space h4 {
  padding-top: 0;
}

.blogpost__text--space p {
  padding-top: 10px;
  @media (min-width: 768px) {
    font-size: $fs-subhead;
    text-align: left;
  }
}

.blogpost__text--space ul {
  list-style-type: disc;
  li {
    padding-top: 8px;
  }
}

.blogpost__number-circle {
  align-items: baseline;
  display: flex;
  flex-direction: row;
}

.blogpost__number-dot {
  border-radius: 100% 100%;
  border: 1px solid $c-dark-golden-rod;
  color: $c-dark-golden-rod;
  display: inline-block;
  height: 25px;
  line-height: 22px;
  text-align: center;
  width: 25px;
}

/* IMAGES */

.blogposts__images {
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
}