* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  background-color: #FFF;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.6;
  text-align: left;
}

a {
  color: rgba(#000, 0.7);
  text-decoration: none;

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.blogtitle {
  padding-bottom: 50px;
  padding-left: 10%;
  padding-top: 50px;
}

nav {
  height: 100%;
  position: fixed;
  width: 15%;
}

.nav__ul {
  line-height: 1.8;
  list-style-type: none;
  padding-right: 80px;
  text-align: right;

  li {
    list-style: none;
  }
}

.blogposts__container {
  clear: both;
  overflow: hidden;
  padding-left: 15%;
  padding-top: 0;
}

.blogposts__post {
  background-color: #FFD98E;
  padding-bottom: 40px;
  padding-left: 10%;
  padding-right: 20%;
  padding-top: 40px;

  time {
    font-size: 12px;
  }
}

.blogposts__ul {
  padding-left: 0;

  li {
    list-style: disc;
    font-size: 14px;
    line-height: 200%;
    padding-left: 1em;
  }
}

.blogposts__ul--none {
  list-style: none;

  li {
    list-style: none;
    padding-left: 1em;
  }
}

.blogposts__ul--indent {
  padding-left: 0;

  li {
    list-style: disc;
    font-size: 14px;
    line-height: 200%;
    margin-left: 1.5em;
  }
}

.blogposts__ol {
  padding-left: 1em;

  li {
    font-size: 14px;
    line-height: 200%;
    padding-left: 1.5%;
  }
}

h2 {
  font-family: 'Suez One', serif;
  font-size: 30px;
}

h4 {
  font-weight: 200;
  line-height: 1.8;
  padding-top: 14px;
}

h6 {
  font-weight: 100;
  padding-top: 10px;
}

p {
  font-weight: 300;
  line-height: 1.8;
  padding: 10px;
  padding-left: 0;
}

img {
  height: auto;
  padding-left: 3%;
  width: 100%;
}

footer {
  background-color: #222831;
  bottom: 0;
  color: white;
  font-size: 12px;
  height: 60px;
  overflow: hidden;
  padding-top: 20px;
  position: relative;
  text-align: center;
  width: 100%;
}