<footer>
  <h3>OPPORTUNITIES</h3>
  <h3>EDUCATION</h3>
  <h3>RESOURCES</h3>
  <h3>CONTACT</h3>
  <hr class="footer__hr" />
  <ul>
    <li><a href="#">Volunteering</a></li>
    <li><a href="#">Community Progams</a></li>
    <li><a href="#">Employment</a></li>
  </ul>

  <ul>
    <li><a href="#">Children & Families</a></li>
    <li><a href="#">Young Musicians</a></li>
    <li><a href="#">Civic Orchestra</a></li>
  </ul>

  <ul>
    <li><a href="#">Music Advocacy</a></li>
    <li><a href="#">CSO Auditions</a></li>
    <li><a href="#">CSO Administration Association</a></li>
    <li><a href="#">Facility Rentals</a></li>
  </ul>


  <ul>
    <li><strong>Symphony Center Box Office</strong></li>
    <li>220 S. Michigan Ave.</li>
    <li>Chicago, IL 60604</li>
    <li>312-294-3000</li>
  </ul>
  
  <section class="copyright">
    <p>©2019 Chicago Symphony Orchestra Association</p>
  </section>
</footer>