 <section class="new-header">

  <section class="nav-home-anchor__wrap">
  <a href="../index.html" class="logo__link--mobile"><img class="CSO-logo" src='../images/cso-logo-small.png' /></a>
  <a href="../index.html" class="logo__link--desktop"><img class="CSO-logo" src='../images/CSO-logo.png' /></a>
  </section>

  <section class="nav-top-level__links">
    <button>LOGIN</button>
    <button class="button__signup">SIGNUP</button>
  </section>

  <img src="../images/iconfinder_menu-alt_134216.svg" class="nav-toggle" />

</section>


 <ul class="sub-nav">
  <li><a href="../plan.html">Plan Your Experience</a></li>
  <li><a href="../opportunities.html">Opportunities</a></li>
  <li><a href="#">Resources</a></li>
  <li><a href="#">Support</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Store</a></li>
  <li><a href="#">Press</a></li>
  <li><a href="#">Contact</a></li>
</ul>
  

<script>
  $( ".nav-toggle" ).click(function() {
    $(".sub-nav").toggleClass( "open" );
  });
</script>