  <!DOCTYPE html>
<html lang='en'>
  <meta charset='UTF-8' />

  <head>
    <meta name="viewport" content="initial-scale: 1.0" width="device-width" />
    <link rel="stylesheet" href="https://use.typekit.net/gsv4pnz.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
  </head>
  
  <nav>
    <a href="../index.html" class="logo__link"><img class="CSO-logo" src='../images/CSO-logo.png' /></a>

    <div class="buttons__navigation--default">
      <button>LOGIN</button>
      <button class="button__signup">SIGNUP</button>
    </div>
    
    <img src="../images/iconfinder_menu-alt_134216.svg" class="navigation__menu" />
    
    <hr class="navigation__hr" />
    <ul class="navigation--links">
      <li><a href="../plan.html">Plan Your Experience</a></li>
      <li><a href="../opportunities.html">Opportunities</a></li>
      <li><a href="#">Resources</a></li>
      <li><a href="#">Support</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Store</a></li>
      <li><a href="#">Press</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>