<nav>
  <ul>
    <li><%= link_to 'Blog', '/index.html#blog-posts' %></li>
    <li><%= link_to 'Books', '/index.html#books' %></li>
    <li><%= link_to 'Resources', '/index.html#resources' %></li>
  </ul>

  <%= image_tag "ginalogo-gold2.svg", :height => "40px", :width => "40px", :class => "svg", :alt => "Gina's logo" %>
</nav>