<nav>
    <ul class="nav__ul">
      <li><%= link_to 'Blog', '/index.html#blog-posts' %></li>
      <li><%= link_to 'Books', '/index.html' %></li>
      <li><%= link_to 'Resources', '/index.html' %></li>
    </ul>

    <%= image_tag '/images/ginalogo-gold2.svg', { :class => 'svg', :alt => 'Gina\'s logo', :height => '40px' }%>
</nav>
