<nav>
    <ul class="nav__ul">
      <li><a href='/#blog-posts'>Blog</a></li>
      <li><a href='#'>Books</a></li>
      <li><a href='#'>Resources</a></li>
    </ul>

    <img class='svg' src='/images/ginalogo-gold2.svg' height='40px' width='40px' alt="Gina's logo" />
</nav>
