createdAt: "2019-01-31T15:34:02.275Z"
updatedAt: "2019-01-31T15:34:09.666Z"
type: "SNIPPET_NOTE"
folder: "def3c3e84cbe59f825a1"
title: ""
tags: []
description: ""
snippets: [
  {
    linesHighlighted: []
    name: ""
    content: ""
  }
]
isStarred: false
isTrashed: true
