createdAt: "2019-01-31T15:51:22.096Z"
updatedAt: "2019-01-31T15:51:35.583Z"
type: "SNIPPET_NOTE"
folder: "def3c3e84cbe59f825a1"
title: ""
tags: []
description: ""
snippets: [
  {
    name: ""
    content: ""
    linesHighlighted: []
  }
]
isStarred: false
isTrashed: true
