//Breakpoints
@import "_typography.scss";

// Small Devices
$bp-300: 300px;

// Medium Devices
$bp-500: 500px;
$bp-650: 650px;
$bp-768: 768px;
$bp-800: 800px;

// Large Devices
$bp-900: 900px;
$bp-975: 975px;
$bp-986: 986px;


// Extra Large Devices
$bp-1200: 1200px;