// Breakpoints
$mobile: 400px;
$tablet: 767px;
$desktop: 1024px;
$desktop-lg: 1368px;

@mixin mobile {
  @media (min-width: #{$mobile}) and (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) and (max-width: #{$desktop-lg}) {
    @content;
  }
}

@mixin desktop-lg {
  @media (min-width: #{$desktop-lg}) {
    @content;
  }
}