// Buttons
@import 'color';
@import 'typography';

button {
  background-color: white;
  border: 3px solid black;
  color: black;
  font-size: $fs-h5;
  font-weight: $fw-semibold;
  padding: 10px;
  width: 100px;
}

button:hover {
  background-color: $color-alizarin;
  border: 3px solid $color-alizarin;
  color: #FFF;
  font-weight: $fw-semibold;
}

.buttons__navigation--default {
  clear: both;
  position: absolute;
  right: 110px;
  top: 40px;
}