// Colors

// Brand Primary
$color-maroon: #660000;
$color-night-rider: #313131;
$color-venetian-red: #B20516;
$color-black: #000;
$color-white: #FFF;
$color-gray: #cccccc;

// Brand Secondary
$color-alabaster: #F7F7F7;
$color-alizarin:#ED213B;
$color-charlotte: #A1DBE0;
$color-cherub: #FCD0D6;
$color-supernova: #FBB136;