// Colors

// Brand Primary
$color-venetian-red: #B20516;
$color-maroon: #660000;
$color-night-rider: #313131;

// Brand Secondary
$color-charlotte: #A1DBE0;
$color-alizarin:#ED213B;
$color-supernova: #FBB136;
$color-cherub: #FCD0D6;
$color-alabaster: #F7F7F7;