// Colors
$c-bunker: #222831;
$c-chathams-blue: #255965;
$c-dark-golden-rod: #b8860b;
$c-light-salmon: #FFA07A;
$c-mandys-pink: #F9BF8F;
$c-night-rider: #333;
$c-onahau:#c3f1ff;
$c-ottoman: #d2e1c8;
$c-primary-black: #000;
$c-primary-white: #FFF;
$c-tomato: #ff6347;