// Footer
@import "_typography.scss";
@import "_color.scss";
@import "_links.scss";

footer {
  background-color: black;
  color: white;
  column-count: 4;
  column-gap: 1em;
  display: block;
  font-family: $font-brand-primary;
  padding: 5% 5% 7% 12%;
  width: 100%;

  ul {
    font-family: $font-brand-secondary;
    padding-top: 2%;
  }

  li {
    display: block;
    line-height: 2em;
    padding-top: 5%;
  }

  @include footer-links
}

h2 {
  font-family: $font-brand-tertiary;
  font-weight: 400;
}

h3 {
  break-before: column;
}

p {
  font-size: $fs-h4;
}

hr {
  column-span: all;
}

.copyright {
  column-span: all;
  padding-top: 100px;
}