// Forms
@import 'typography';
@import 'color';


.form__subscribe {
  clear: both;
  display: block;
  height: 700px;
  padding: 10% 10%;
  text-align: center;

  @media (min-width: #{$mobile}) {
    height: auto;
    text-align: center;
    padding: 10% 10%;
  }

  @media (min-width: #{$tablet}) {
    height: auto;
    padding: 10% 31%;
  }

  @media (min-width: #{$desktop}) {
    height: auto;
    text-align: center;
    padding: 5% 31%;
  }
}


.form__subscribe>h4 {
  font-weight: $fw-regular;
  padding-top: 40px;

  @media (min-width: #{$mobile}) {
    font-size: $fs-h5;
    padding-top: 15px;
    line-height: 1.75em;
    max-width: 300px;
  }

  @media (min-width: #{$desktop}) {
    max-width: 400px;
  }
}

.form__subscribe>button {
  text-align: center;
  width: 200px;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;

  @media (min-width: #{$mobile}) {
    padding-top: 30px;
  }
}

fieldset {
  border: 0;
  display: block;
  font-family: $font-brand-tertiary;
  font-weight: $fw-regular;
  line-height: 30px;
  margin: 0, auto;
  padding-top: 50px;
  text-align: left;
}

fieldset>label {
  align: center;
  font-family: $font-brand-secondary;
  font-size: $fs-h5;
}

input[id="Name"],
input[id="Email"] {
  border-bottom: 2px solid #000;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  display: block;
  font-family: $font-brand-tertiary;
  font-size: $fs-h4;
  text-align: left;
  width: 250px;
}