// Forms
@import "_typography.scss";
@import "_color.scss";

.subscribe {
  display: block;
  text-align: center;
  padding: 10% 10%;

  h2 {
    font-family: $font-brand-subhead;
    font-size: $fs-h3;
    padding-top: 5%;
  }

  button {
    text-align: center;
    width: 200px;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  border: none;
  font-family: $font-brand-body;
  font-weight: 400;
  display: block;
  line-height: 30px;
  margin: 0, auto;
  padding-top: 50px;
  text-align: left;

  label {
    align: center;
    font-family: $font-brand-subhead;
    font-size: $fs-h3;
  }
}

input[id="Name"],
input[id="Email"] {
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: $font-brand-body;
  font-size: $fs-h4;
  display: block;
  text-align: left;
  width: 200px;
}