// Column

@mixin column($column-count) {
  column-count: $column-count;
}

.column {

  @media (min-width: 300px) {
    column-count: 0;
  }

  @media (min-width: 768px) {
    column-count: 0;
  }

  @media (min-width: 900px) {
    column-count: 2;
    column-gap: 4em;
  }
}

// Blog post on Overview of Typographic History

.typography-h2 {
  column-span: all;
  padding-top: 3%;
  text-align: left;

  @media (min-width: 300px) {
    font-size: $fs-body;
    text-align: center;
  }

  @media (min-width: 768px) {
    font-size: 1.5em;
    text-align: left;
  }

  @media (min-width: 900px) {
    font-size: 1.75em;
    text-align: left;
  }
}

.typography-p {
  break-after: column;
  font-weight: 400;
  line-height: 1.8;
  padding: 10px;
  padding-left: 0;

  @media (min-width: 300px) {
    font-size: $fs-body;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
  }

  @media (min-width: 768px) {
    font-size: $fs-body;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
  }
}