
header {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  overflow: hidden;

  @include mobile {
    height: 275px;
  }
}

.header__image {
  float: left;
  height: auto;
  width: 100%;

  @include mobile {
    height: auto;
    flex-shrink: 0;
    min-width: 158%;
    min-height: 100%;
  }
}

.header__event {
  color: white;
  padding-left: 8%;
  position: absolute;
  top: 35%;
  left: 0;

  @include desktop {
    top: 24%;
  }

  @include tablet {
    top: 21%;
  }

  @include mobile {
    top: 17%;
  }
}

.header__event h1 {
  @include desktop {
    font-size: $fs-h2;
  }

  @include tablet {
    font-size: $fs-h2;
  }

  @include mobile {
    font-size: $fs-h3;
  }
}

.header__event--date {
  float: left;
  padding-right: 5%;
  padding-top: 40px;
  position: left;
  text-align: right;
}

.header__event--date h1,
.header__event--date h3 {
  font-family: $font-brand-secondary;

  @include desktop {
    padding-top: 43px;
  }

  @include tablet {
    padding-top: 30px;
  }
}

.header__event--date h1,
.header__event--date h3 {
  font-family: $font-brand-secondary;
}

.header__event--details {
  display: block;
  float: left;
  padding-top: 35px;
  width: 500px;

  @include tablet {
    padding-top: 20px;
  }

  @include mobile {
    width: 200px;
  }
}

.header__event--details h1 {
  @include mobile {
    font-size: $fs-h3;
  }
}

.header__event--details h2 {
  font-family: $font-brand-primary;
  font-size: $fs-h1;
  font-weight: $fw-semibold;
  text-align: left;

  @include desktop {
    font-size: $fs-h2;
  }

  @include tablet {
    font-size: $fs-h3;
    width: 80%;
  }

  @include mobile {
    font-size: $fs-h4;
  }
}

.header__event--details h4 {
  font-family: $font-brand-tertiary;
  padding-top: 3%;

  @include tablet {
    font-size: $fs-h5;
  }

  @include mobile {
    float: left;
    font-size: $fs-h5;
  }
}