// Image Sizes
@import 'color';
@import 'mixins';
@import 'typography';

.image__right--opportunities,
.image__right--education,
.image__right--support {
  clear: none;
  float: right;
  height: auto;
  width: 50%;

  @media (min-width: #{$small}) {
    width: 100%;
  }

  @media (min-width: #{$medium}) {
    width: 50%;
  }
}

.image__left {
  clear: none;
  float: left;
  width: 60%;

  @media (min-width: #{$small}) {
    width: 100%;
  }

  @media (min-width: #{$large}) {
    width: 60%;
  }

  @media (min-width: #{$x-large}) {
    width: 60%;
  }
}

.image__description {
  width: 60%;
  background: blue;
  padding: 10% 5%;
}