// Image Sizes
@import 'color';
@import 'mixins';
@import 'typography';

.image__right--opportunities,
.image__right--education,
.image__right--support {
  clear: none;
  float: right;
  height: auto;
  width: 50%;

  @media (min-width: #{$mobile}) {
    width: 100%;
  }

  @media (min-width: #{$tablet}) {
    width: 50%;
  }
}

.image__left {
  clear: both;
  float: left;
  width: 60%;
}