// Image Sizes
@import 'color';
@import 'mixins';
@import 'typography';

.image__right {
  float: right;
  height: auto;
  width: 50%;

  @include tablet {
    float: right;
    height: auto;
    width: 50%;
  }

  @include mobile {
    float: right;
    height: auto;
    width: 100%;
  }
}

.image__right--support {
  @include tablet {
    float: right;
    height: 576px;
    width: 50%;
  }
}

.image__left {
  clear: both;
  float: left;
  width: 60%;
}

.image__description--left {
  float: left;
  height: 458px;
  padding: 6% 10% 5% 8%;
  width: 60%;

  p {
    font-family: $font-brand-tertiary;
    font-size: $fs-h4;
  }
}