// Links
@import "_color.scss";
@import "_typography.scss";
@import "_mixins.scss";

.link__adjacent {
  padding-top: 3%;
}

.link__underline--reversed {
  padding-right: 60px;

  a {
    color: white;
    border-bottom: 3px solid $color-alizarin;
    padding-top: 20%;
    text-decoration: none;
  }

  float: left;
  padding-top: 5%;
}

.link__default {
  a {
    color: black;
    font-family: $font-brand-subhead;
    font-size: $fs-h3;
    font-weight: 700;
    border-bottom: 3px solid $color-alizarin;
    text-decoration: none;
  }

  &:visited {
    color: black;
    border-bottom: 3px solid $color-alizarin;
    text-decoration: none;
  }
}

.links__reversed {
  padding: 10% 0;
}