// Links
@import "_color.scss";
@import "_typography.scss";
@import "_mixins.scss";


.logo__link {
  color: black;
  border-bottom: none;
  text-decoration: none;
}

.header__event--links {
  display: inline-block;
  padding-top: 50px;
}

.link__highlight--reversed {
  padding-right: 60px;

  a {
    color: white;
    border-bottom: 3px solid $color-alizarin;
    font-family: $font-brand-primary;
    padding-top: 20%;
    text-decoration: none;
  }

  float: left;
  padding-top: 5%;
}

.link__highlight--bottom {
  a {
    color: black;
    border-bottom: 3px solid $color-alizarin;
    text-decoration: none;
  }

  &:visited {
    color: black;
    border-bottom: 3px solid $color-alizarin;
    text-decoration: none;
  }
}


.link__highlight--condensed {
  a {
    color: black;
    font-family: $font-brand-secondary;
    font-size: $fs-h2;
    font-weight: $fw-bold;
    border-bottom: 3px solid $color-alizarin;
    text-decoration: none;
  }

  &:visited {
    color: black;
    font-family: $font-brand-secondary;
    font-weight: $fw-bold;
    border-bottom: 3px solid $color-alizarin;
    text-decoration: none;
  }
}