// Links
@import 'color';
@import 'mixins';
@import 'typography';


.logo__link {
  border-bottom: 0;
  color: $color-black;
  text-decoration: none;
}

.header__event--links {
  display: inline-block;
  padding-top: 50px;
}

.link__highlight--reversed {
  padding-right: 60px;
  float: left;
  padding-top: 5%;

  a:link {
    border-bottom: 3px solid $color-alizarin;
    color: $color-white;
    font-family: $font-brand-primary;
    padding-top: 20%;
    text-decoration: none;
  }
}

.link__highlight--bottom {
  a:link {
    border-bottom: 3px solid $color-alizarin;
    color: $color-black;
    text-decoration: none;
  }

  &:visited {
    border-bottom: 3px solid $color-alizarin;
    color: $color-black;
    text-decoration: none;
  }
}


.link__highlight--condensed {
  a:link {
    border-bottom: 3px solid $color-alizarin;
    color: $color-black;
    font-family: $font-brand-secondary;
    font-size: $fs-h4;
    font-weight: $fw-semibold;
    text-decoration: none;
  }

  &:visited {
    border-bottom: 3px solid $color-alizarin;
    color: $color-black;
    font-family: $font-brand-secondary;
    font-weight: $fw-semibold;
    text-decoration: none;
  }
}