// Navigation
@import 'breakpoints';
@import 'color';
@import 'typography';

.CSO-logo {
  max-width: 100%;
  padding: 25px 0 5px 50px;

  @media (min-width: #{$mobile}) {
    padding-bottom: 24px;
    width: 70%;
  }

  @media (min-width: #{$tablet}) {
    padding-bottom: 40px;
    width: 50%;
  }

  @media (min-width: #{$desktop}) {
    width: 40%;
  }

  @media (min-width: #{$desktop-lg}) {
    height: auto;
    width: 30%;
  }
}

nav {
  padding-top: 20px;
  width: 100%;



  @media (min-width: #{$mobile}) {
    padding-bottom: 10px;
  }

  @media (min-width: #{$tablet}) {
    padding-bottom: 3px;
  }

  @media (min-width: #{$desktop}) {
    padding-bottom: 3px;
  }

  a:link {
    color: $color-black;
    font-weight: $fw-regular;
    text-decoration: none;
  }

  a:focus,
  a:hover,
  a:visited {
    border-top: 3px solid $color-alizarin;
    color: $color-black;
    font-weight: $fw-semibold;
    text-decoration: none;
  }
}

nav ul {
  display: inline-block;
  font-family: $font-brand-secondary;
  font-size: 1em;
  list-style-type: none;
  margin-left: 110px;
  padding-bottom: 27px;
  text-align: left;
  width: 84%;


  @media (min-width: #{$mobile}) {
    display: none;
  }

  @media (min-width: #{$tablet}) {
    display: none;
  }

  @media (min-width: #{$desktop}) {
    display: none;
  }

  @media (min-width: #{$desktop-lg}) {
    display: inline-block;
  }


  li {
    display: inline-block;
    list-style-type: none;
  }
}

nav ul>li:nth-child(n+2) {
  padding-left: 93px;
}

.navigation__menu {

  @media (min-width: #{$mobile}) {
    left: 81%;
    position: absolute;
    top: 5.5%;
  }

  @media (min-width: #{$tablet}) {
    left: 90%;
    top: 6%;
    position: absolute;
  }

  @media (min-width: #{$desktop}) {
    left: 94%;
    top: 6%;
    position: absolute;
  }

  @media (min-width: #{$desktop-lg}) {
    display: none;
  }
}

.navigation__hr {
  border-style: solid none none;
  border-top: 1px solid $color-alabaster;
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 20px 0 0 20px;

  @media (min-width: #{$mobile}) {
    display: none;
    padding-bottom: 24px;
  }

  @media (min-width: #{$tablet}) {
    display: none;
  }

  @media (min-width: #{$desktop}) {
    display: none;
  }

  @media (min-width: #{$desktop-lg}) {
    display: block;
  }
}