@import 'breakpoints';

//  Typefaces
$font-brand-primary: 'gill-sans-nova',
sans-serif;
$font-brand-secondary: 'Roboto Condensed',
sans-serif;
$font-brand-tertiary: 'Roboto',
sans-serif;

//  Type Sizes
$fs-h1: 2.441em;
$fs-h2: 1.953em;
$fs-h3: 1.563em;
$fs-h4: 1.25em;
$fs-h5: 1em;
$fs-h6: 0.8em;

//  Type Weights
$fw-regular: 400;
$fw-semibold: 700;

//Type Styles

h1 {
  font-family: $font-brand-primary;
  font-size: $fs-h1;
}

h2 {
  font-family: $font-brand-secondary;
  font-size: $fs-h2;
}

h3 {
  font-family: $font-brand-secondary;
  font-size: $fs-h3;

}

h4 {
  font-family: $font-brand-secondary;
  font-size: $fs-h4;
}


blockquote {
  font-family: $font-brand-secondary;
  font-size: $fs-h2;
  font-weight: $fw-regular;
  line-height: 2.25em;
  padding-top: 20px;
}

p {
  font-family: $font-brand-tertiary;
  font-size: $fs-h5;
  font-weight: $fw-regular;
  line-height: 2.5em;
  padding-top: 20px;
}