// Typography
$font-stack-primary: 'Suez One',
serif;
$font-stack-secondary: 'Source Sans Pro',
sans-serif;
$font-stack-tertiary: "Niramit",
sans-serif;
// Type Sizes
$fs-display-large: 2.5em;
$fs-display-medium: 2em;
$fs-display: 1.875em;
$fs-subhead-large: 1.75em;
$fs-subhead-medium: 1.5em;
$fs-subhead: 1.25em;
$fs-body-medium: 1.15em;
$fs-body: 1em;
$fs-caption-medium: 0.85em;
$fs-caption: 0.75em;
// Type Weight
$fw-light: 100;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;

// Type Hierarchy
body {
  color: $c-primary-black;
  font-family: $font-stack-secondary;
  line-height: 1.6;
  text-align: center;
}

h1,
h2 {
  color: $c-night-rider;
  font-family: $font-stack-primary;
}

h1 {
  font-size: $fs-display-large;
  text-align: center;

  @media(min-width: 300px) {
    padding-top: 2em;
    font-size: $fs-subhead-medium;
  }

  @media(min-width: 767px) {
    font-size: $fs-display-medium;
    padding-bottom: 20px;
  }
}

h2 {
  font-size: $fs-display-medium;
  text-align: left;

  @media(min-width: 300px) {
    font-size: $fs-subhead;
  }

  @media(min-width: 600px) {
    font-size: $fs-subhead-medium;
  }

  @media(min-width: 800px) {
    font-size: $fs-subhead-medium;
  }
}

h3 {
  color: $c-night-rider;
  font-family: $font-stack-secondary;
  font-size: $fs-body-medium;
  text-align: left;
}

h4 {
  font-size: $fs-body;
  font-weight: $fw-semibold;
  line-height: 1.8;
  padding-top: 14px;
}

h6 {
  font-size: $fs-caption;
  font-weight: 400;
  padding-top: 10px;
}

h4,
h5,
h6,
p {
  color: $c-night-rider;
  font-family: $font-stack-secondary;
  font-size: $fs-body;
  font-weight: $fw-regular;
}

p {
  line-height: 1.8;
  padding-top: 20px;
  padding-bottom: 20px;
}

// Blogpost about SCSS and Sass
.header-main h1 {
  padding-bottom: 4%;
  text-align: center;

  @media(min-width: 300px) and (min-width: 768px) {
    font-size: $fs-body;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
  }

  @media (min-width: 900px) {
    font-size: $fs-display-medium;
    padding-bottom: 5%;
    text-align: center;
  }
}

// Blogpost about CSS Architecture/Naming Conventions
main h2 {
  padding-top: 50px;
  text-align: left;
}