---
title: CSO Project
---
<header>
  <img class="header__image" src='./images/events-banner.png' />
  <section class="header__event">
    <h1>UPCOMING EVENTS</h1>

    <section class="header__event--date">
      <h1>03</h1>
      <h3>JUN</h3>
    </section>

    <section class="header__event--details">
      <h2>Common with Members of the Chicago Symphony Orchestra</h2>
      <h4>Monday, 7:30pm</h4>

      <section class="header__event--links">
        <h4 class="link__highlight--reversed"><a href='#'>GET TICKETS</a></h4>
        <h4 class="link__highlight--reversed"><a href='#'>ALL EVENTS</a></h4>
      </section>
    </section>
  </section>
</header>

<main>
  <section class="colorblock__left">
    <section class="colorblock__left--opportunities">
      <h1>OPPORTUNITIES</h1>
      <h3>From employment to professional development to volunteering, the Chicago Symphony Orchestra has a
        variety of events and activities to suit your musical tastes and interests.</h3>

      <section class="link__highlight--bottom">
        <h4 class="helper__space--top"><a href='#'>VIEW MORE</a></h4>
      </section>
    </section>

    <img class="image__right" src='./images/opportunities.png' />
  </section>

  <section class="colorblock__left">
    <section class="colorblock__left--education">
      <h1>EDUCATION</h1>
      <h3>Appreciate music with the family at our Family Matinees, practice and compete with the Young Musicians,
        or fully develop your skills professionally with the Civic Orchestra. </h3>

      <section class="link__highlight--bottom">
      <h4 class="helper__space--top"><a href='#'>VIEW MORE</a></h4>
      </section>
    </section>

    <img class="image__right" src='./images/education.png' />
  </section>

  <section class="colorblock__left">

    <section class="colorblock__left--support">
      <h1>SUPPORT</h1>
      <h3>Give from the heart or help the CSO in other ways: partnerships, corporate sponsorship, programming, or
        volunteering.</h3>

      <section class="link__highlight--bottom">
        <h4 class="helper__space--top"><a href='#'>VIEW MORE</a></h4>
      </section>
    </section>

    <img class="image__right image__right--support" src='./images/support.png' />

  </section>


  <section class="form__subscribe">
    <h1>SUBSCRIBE</h1>
    <h4>Stay updated through our email list on all events and news related to the Chicago Symphony Orchestra!</h4>

    <form>
      <fieldset>
        <label class="active" for="name">Name</label>
        <input id="Name" type="text" class="name" placeholder="John Doe">

        <div class="helper__space--top"></div>

        <label class="active" for="email">Email</label>
        <input id="Email" type="text" class="email" placeholder="johndoe@gmail.com">
        <div class="helper__space--top"></div>
        <div class="helper__space--top"></div>

        <button>ADD ME TO THE LIST</button>
      </fieldset>
    </form>

  </section>

</main>