<!DOCTYPE html>
<html lang='en'>
<meta charset='UTF-8'/>

<head>
<title>Gina's Aprenticeship Blog</title>
<link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body>
  <header>
    <h1 id='blogtitle'>Gina's Apprenticeship Blog</h1>
  </header>

  <nav>
      <ul>
        <li><a href='./index.html'>Blog</a></li>
        <li><a href='./notes.html'>Notes</a></li>
        <li><a href='./reads.html'>Reads</a></li>
        <li><a href='./resources.html'>Resources</a></li>
      </ul>
  </nav>

            <main id='blogposts-container'>
              <section class='blogposts'>
                <time datetime="2018-11-09">SEPTEMBER 11, 2018</time>
                <h2>Brief explanation and example of every (yes, every) HTML element.</h2><br/>
                <h4><strong>WE&#39;VE MET BEFORE</strong></h4>
                <ul class="most-recent">
                    <li><strong>&#60;!-- --&#62;</strong> tag allows you to make comments that will not be visible and will you help quickly navigate throughout your HTML file and collaborate with your team.</li>
                    <li><strong>&#60!DOCTYPE&#62;</strong> tag defines the document type.</li>
                    <img src="./images/doctype-tag.png"></img>
                    <li><strong>&#60;html&#62;</strong> tag defines that you are in an html document.</li>
                    <img src="./images/html-tag.png"></img>
                    <li><strong>&#60;meta&#62;</strong> tag defines the metadata that describes a webpage using keywords and short descriptions for Search Engine Optimization.</li>
                    <img src="./images/meta-tag.png"></img>
                    <li><strong>&#60;head&#62;</strong> tag defines information about the document. This is where you place the web page title that will show up on your browser tab, as well as where you link stylesheets, fonts, the meta tag, and specify if there is any HTML, CSS, or Javascript on the page.</li>
                    <img src="./images/head-tag.png"></img>
                    <li><strong>&#60;title&#62;</strong> tag defines the title of your webpage.</li>
                    <img src="./images/title-tag.png"></img>
                    <li><strong>&#60;header&#62;</strong> tag defines the header for your document or for a section within your document.</li>
                    <img src="./images/header-tag.png"></img>
                    <li><strong>&#60;nav&#62;</strong> tag defines the navigation within your HTML file and is a <em>Semantic Tag</em>, which clearly defines its meaning to both the browser and the developer. Other semantic tags include: <strong>&#60;header&#62;</strong>, <strong>&#60;main&#62;</strong>, <strong>&#60;section&#62;</strong>, <strong>&#60;article&#62;</strong>, <strong>&#60;aside&#62;</strong>, <strong>&#60;footer&#62;</strong>, <strong>&#60;form&#62;</strong>, and <strong>&#60;table&#62;</strong>.</li>
                    <img src="./images/nav-tag.png"></img>
                    <li><strong>&#60;body&#62;</strong> tag defines the document's body. The majority of your website content, such as images, text, quotes, articles, links, and videos will appear here.</li>
                    <img src="./images/body-tag.png"></img>
                    <li><strong>&#60;h1&#62; through &#60;h6&#62;</strong>tags help you establish text hierarchy between headlines, body copy, and captions.</li>
                    <img src="./images/h1-through-h6-tags.png"></img>
                    <li><strong>&#60;div&#62;</strong> tag defines a section in a document. This tag creates a division or section, but not as effective as using Semantic HTML. This tag is often used as a container for other HTML elements to style them using CSS or perform certain tasks using Javascript.</li>
                    <img src="./images/div-tag.png"></img>
                    <li><strong>&#60;main&#62;</strong> tag defines the main content within the <strong>&#60;body&#62;</strong> tag of your document and should be unique to that page. It should not include elements that you duplicate and reuse across multiple pages (i.e. navigation or footer).</li>
                    <img src="./images/main-tag.png"></img>
                    <li><strong>&#60;section&#62;</strong> tag defines a section within your document, such as chapters, headers, and footers.</li>
                    <img src="./images/section-tag.png"></img>
                    <li><strong>&#60;article&#62;</strong> tag inserts an external source of information that is intended to be reusable and independently distributed, such as a forum post, magazine, newspaper article, or blog entry.</li>
                    <img src="./images/article-tag.png"></img>
                    <li><strong>&#60;aside&#62;</strong> tag contains information related to the article in context, so, for example, sidebars (in printed typography), footnotes, highlighted quotes, glossary terminology, or call-outs. <em><strong>Note:</strong> This is different than a <strong>&#60;sidebar&#62;</strong>, as a sidebar can be used as navigation or feature ads, search boxes, and blogrolls.</em></li>
                    <img src="./images/aside-tag.png"></img>
                    <li><strong>&#60;footer&#62;</strong> tag defines the footer of your document, which is where you might display secondary navigation links, social media links, or copyright.</li>
                    <img src="./images/footer-tag.png"></img>
                    <li><strong>&#60;p&#62;</strong> tag defines a paragraph.</li>
                    <img src="./images/paragraph-tag.png"></img>
                    <li><strong>&#60;style&#62;</strong> tag allows you to write CSS within your HTML document. This is called <em>Inline Styles</em>, and if you are working within a team, it is not recommended. It is good, however, for making changes to very specific, minor one-time elements.</li>
                    <img src="./images/style-tag.png"></img>
                    <li><strong>&#60;em&#62;</strong> tag emphasizes or italicizes your text.</li>
                    <img src="./images/em-tag.png"></img>
                    <li><strong>&#60;strong&#62;</strong> tag bolds your text.</li>
                    <img src="./images/strong-tag.png"></img>
                    <li><strong>&#60;u&#62;</strong> tag underlines your text.</li>
                    <img src="./images/underline-tag.png"></img>
                    <li><strong>&#60;a&#62;</strong> tag creates a hyperlink.</li>
                    <img src="./images/hyperlink-tag.png"></img>
                    <li><strong>&#60;img&#62;</strong> tag allows you to display and link an image to your webpage. Within this tag, you can link to another source, define specific height and width properties, and add a brief written description within metadata to account for blindness. <em><strong>Note:</strong> You do not need to add an end tag or a / to the end.</em></li>
                    <img src="./images/img-tag.png"></img>
                    <li><strong>&#60;ul&#62;</strong> tag defines an unordered list, which means that it will display with bullet points in HTML. <em><strong>Quick tip:</strong> You can get rid of the bullet points using the CSS property "list-style" and set that property to "none."</em></li>
                    <img src="./images/ul-tag.png"></img>
                    <li><strong>&#60;ol&#62;</strong> tag is an ordered list, which is obviously the opposite of an unordered list. With this element, your text will display numbers next to each item.</li>
                    <img src="./images/ol-tag.png"></img>
                    <li><strong>&#60;li&#62;</strong>tag defines a list item.</li>
                    <img src="./images/list-item-tag.png"></img>
                    <li><strong>&#60;br&#62;</strong> tag creates a line break. Note that this is a <em>Self-Closing Tag</em>, as well as <strong>&#60;hr&#62;</strong> and <strong>&#60;img&#62;</strong>.</li>
                    <img src="./images/break-tag.png"></img>
                    <li><strong>&#60;hr&#62;</strong> tag is self-closing and defines a thematic break, otherwise known as a horizontal rule.</li>
                    <img src="./images/hr-tag.png"></img>
                    <li><strong>&#60;button&#62;</strong> tag creates a clickable button.</li>
                    <img src="./images/button-tag.png"></img>
                  </ul>

          <br/>

                <h4><strong>WE&#39;RE FAMILIAR BUT NOT ACQUAINTED</strong></h4>
                  <ul class="most-recent">
                    <li><strong>&#60;audio&#62;</strong> tag allows you to insert an audio file.</li>
                    <img src="./images/audio-tag.png"><img>
                    <li><strong>&#60;small&#62;</strong> tag defines smaller text.</li>
                    <li><strong>&#60;blockquote&#62;</strong> tag defines a section that is quoted from an external source.</li>
                    <img src="./images/blockquote-tag.png"><img>
                    <li><strong>&#60;caption&#62;</strong> tag defines a table caption. <strong>Note:</strong> This tag needs to be inserted immediately after the table tag and there can only be one <strong>&#60;caption&#62;</strong> tag per table.</li>
                    <img src="./images/caption-tag.png"><img>
                    <li><strong>&#60;col&#62;</strong> tag specifies the column properties for each column within a <strong>&#60;colgroup.&#62;</strong>. This tag is normally used when the values of each column are different.</li>
                    <li><strong>&#60;colgroup&#62;</strong> tag specifies a group of one or more columns within a table for formatting.</li>
                    <img src="./images/col-tag.png"><img>
                    <li><strong>&#60;embed&#62;</strong> tag defines a container for an external application or interactive content, like a plug-in.</li>
                    <img src="./images/embed-tag.png"><img>
                    <li><strong>&#60;form&#62;</strong> tag defines an HTML form for user input.</li>
                    <li><strong>&#60;input&#62;</strong> tag specifies a field where the user can input data. This tag is used within a <strong>&#60;form&#62;</strong> to declare user controls to input data. The input field can vary depending on the type attribute.</li>
                    <img src="./images/form-tag.png"><img>
                    <li><strong>&#60;link&#62;</strong> tag defines a link between a document and an external source.</li>
                    <img src="./images/link-tag.png"><img>
                    <li><strong>&#60;noscript&#62;</strong> tag defines an alternate content for users that have disabled scripts in their browser or have a browser that doesn't support script.</li>
                    <img src="./images/noscript-tag.png"><img>
                    <li><strong>&#60;object&#62;</strong> tag an embedded object.</li>
                    <img src="./images/object-tag.png"><img>
                    <li><strong>&#60;script&#62;</strong> tag defines a client-side script (JavaScript). The <strong>&#60;script&#62;</strong> element either contains scripting statements, or it points to an external script file through the src attribute.</li>
                    <img src="./images/script-tag.png"><img>
                    <li><strong>&#60;span&#62;</strong>	tag is similar to the <strong>&#60;script&#62;</strong> tag and is mostly used for styling. The difference is that the <strong>&#60;div&#62;</strong> tag is a <em>block elements</em>, meaning that it is on a separate line. In contrast, this tag is an <em>in-line element</em>, meaning it can be on the same line as other elements.</li>
                    <img src="./images/span-tag.png"><img>
                    <li><strong>&#60;svg&#62;</strong>tag defines a container for SVG graphics.</li>
                    <img src="./images/svg-tag.png"><img>
                    <li><strong>&#60;video&#62;</strong> tag specifies video, such as a movie clip or other video streams. Currently, there are 3 support video formats: MP4, WebM, Ogg.</li>
                    <img src="./images/video-tag.png"><img><br/>
                    <li><strong>TABLE ELEMENTS</strong></li>
                    <li><strong>&#60;table&#62;</strong> tag creates an HTML table usually composed of <strong>&#60;tr&#62;</strong>, <strong>&#60;th&#62;</strong>, and <strong>&#60;td&#62;</strong> elements.</li>
                    <li><strong>&#60;th&#62;</strong> tag defines a table header.</li>
                    <li><strong>&#60;tr&#62;</strong>tag defines a table row.</li>
                    <li><strong>&#60;td&#62;</strong>tag defines a table cell.</li>
                    <img src="./images/table-tags.png"><img>
                    <li><strong>&#60;thead&#62;</strong> tag is used to group header content in an HTML table and is used with the <strong>&#60;tbody&#62;</strong> and <strong>&#60;tbody&#62;</strong> tags.</li>
                    <li><strong>&#60;tbody&#62;</strong> tag is used to group the body content in an HTML table. This element is used with the <strong>&#60;thead&#62;</strong> and <strong>&#60;tfoot&#62;</strong> elements to specify each part of a table (body, header, footer).</li>
                    <li><strong>&#60;tfoot&#62;</strong> tag is used to group footer content in an HTML table. This element is used with the <strong>&#60;thead&#62;</strong> and <strong>&#60;tbody&#62;</strong> elements to specify each part of a table (footer, header, body).</li>
                    <img src="./images/thead-tag.png"><img>
                  </ul>

            <br/>

                <h4><strong>WE&#39;RE MEETING FOR THE FIRST TIME</strong></h4>
                  <ul class="most-recent">
                    <li><strong>&#60;abbr&#62;</strong> tag defines an abbreviation or acronym.</li>
                    <img src="./images/abbr-tag.png"></img>
                    <li><strong>&#60;area&#62;</strong> tag defines an area within an image map.</li>
                    <img src="./images/area-tag.png"></img>
                    <li><strong>&#60;address&#62;</strong> tag defines contact information for the author/owner of a document.</li>
                    <img src="./images/address-tag.png"></img>
                    <li><strong>&#60;base&#62;</strong> tag specifies the base URL/target for all relative URLs in a document</li>
                    <img src="./images/base-tag.png"></img>
                    <li><strong>&#60;bdi&#62;</strong> tag stands for <em>Bi-Directional Isolation</em> element, which isolates a part of text that might be formatted in a different direction from other text outside it, such an Arabic word.</li>
                    <img src="./images/bdi-tag.png"></img>
                    <li><strong>&#60;bdo&#62;</strong> tag stands for <em>Bi-Directional Text Override</em> element, which is used to override the current text direction.</li>
                    <img src="./images/bdo-tag.png"></img>
                    <li><strong>&#60;canvas&#62;</strong> tag is used to draw graphics in real-time via scripting, usually requiring JavaScript.</li>
                    <img src="./images/canvas-tag.png"></img>
                    <li><strong>&#60;cite&#62;</strong> tag defines a title of a work.</li>
                    <img src="./images/cite-tag.png"></img>
                    <li><strong>&#60;code&#62;</strong> tag defines a piece of computer code.</li>
                    <img src="./images/code-tag.png"></img>
                    <li><strong>&#60;data&#62;</strong> tag links the given content with a machine-readable translation.</li>
                    <img src="./images/data-tag.png"></img>
                    <li><strong>&#60;datalist&#62;</strong> tag specifies a list of pre-defined options for input controls.</li>
                    <img src="./images/datalist-tag.png"></img>
                    <li><strong>&#60;del&#62;</strong> tag defines text that has been deleted from a document.</li>
                    <img src="./images/del-tag.png"></img>
                    <li><strong>&#60;details&#62;</strong> tag defines additional details that the user can view or hide.</li>
                    <img src="./images/details-tag.png"></img>
                    <li><strong>&#60;dialog&#62;</strong> tag defines a dialogue box or window.</li>
                    <img src="./images/dialog-tag.png"></img>
                    <li><strong>&#60;dfn&#62;</strong> tag requires a defining instance of a term.</li>
                    <img src="./images/dfn-tag.png"></img>
                    <li><strong>&#60;dl&#62;</strong> tag defines a description list.</li>
                    <img src="./images/dl-tag.png"></img>
                    <li><strong>&#60;dt&#62;</strong> tag defines a term or name in a description list.</li>
                    <img src="./images/dt-tag.png"></img>
                    <li><strong>&#60;dd&#62;</strong> tag defines a description/value of a term in a description list</li>
                    <img src="./images/dd-tag.png"></img>
                    <li><strong>&#60;fieldset&#62;</strong> tag groups related elements in a form.</li>
                    <li><strong>&#60;legend&#62;</strong> tag defines a caption for a <strong>&#60;fieldset&#62;</strong> input element.</li>
                    <img src="./images/fieldset-tag.png"></img>
                    <li><strong>&#60;figcaption&#62;</strong> tag defines a caption for a <strong>&#60;figure&#62;</strong> element.</li>
                    <li><strong>&#60;figure&#62;</strong> tag specifies self-contained content.</li>
                    <img src="./images/figure-tag.png"></img>
                    <li><strong>&#60;ins&#62;</strong> tag 	defines a text that has been inserted into a document.</li>
                    <img src="./images/figure-tag.png"></img>
                    <li><strong>&#60;kbd&#62;</strong> tag defines keyboard input.</li>
                    <img src="./images/kbd-tag.png"></img>
                    <li><strong>&#60;label&#62;</strong> tag defines a label for an <strong>&#60;input&#62;</strong> element.</li>
                    <img src="./images/label-tag.png"></img>
                    <li><strong>&#60;map&#62;</strong> tag defines a client-side image-map.</li>
                    <img src="./images/map-tag.png"></img>
                    <li><strong>&#60;mark&#62;</strong> tag defines marked/highlighted text.</li>
                    <img src="./images/mark-tag.png"></img>
                    <li><strong>&#60;meter&#62;</strong> tag defines a scalar measurement within a known range (a gauge).</li>
                    <img src="./images/meter-tag.png"></img>
                    <li><strong>&#60;output&#62;</strong> tag defines the result of a calculation.</li>
                    <img src="./images/output-tag.png"></img>
                    <li><strong>&#60;param&#62;</strong> tag defines a parameter for an object.</li>
                    <img src="./images/param-tag.png"></img>
                    <li><strong>&#60;picture&#62;</strong> tag defines a container for multiple image resources. </li>
                    <img src="./images/picture-tag.png"></img>
                    <li><strong>&#60;pre&#62;</strong> tag defines preformatted text.</li>
                    <img src="./images/pre-tag.png"></img>
                    <li><strong>&#60;progress&#62;</strong> tag represents the progress of a task.</li>
                    <img src="./images/progress-tag.png"></img>
                    <li><strong>&#60;q&#62;</strong> tag defines a short quotation</li>
                    <img src="./images/q-tag.png"></img>
                    <li><strong>&#60;rp&#62;</strong> tag defines what to show in browsers that do not support ruby annotations.</li>
                    <li><strong>&#60;rt&#62;</strong> tag defines an explanation/pronunciation of characters (for East Asian typography).</li>
                    <li><strong>&#60;ruby&#62;</strong> tag defines a ruby annotation (for East Asian typography)</li>
                    <img src="./images/rp-tag.png"></img>
                    <li><strong>&#60;s&#62;</strong> tag defines text that is no longer correct.</li>
                    <img src="./images/s-tag.png"></img>
                    <li><strong>&#60;samp&#62;</strong> tag defines sample output from a computer program.</li>
                    <img src="./images/samp-tag.png"></img>
                    <li><strong>&#60;select&#62;</strong> tag defines a drop-down list.</li>
                    <li><strong>&#60;option&#62;</strong> tag defines an option in a drop-down list.</li>
                    <img src="./images/select-tag.png"></img>
                    <li><strong>&#60;optgroup&#62;</strong> tag defines a group of related options in a drop-down list</li>
                    <img src="./images/optgroup-tag.png"></img>
                    <li><strong>&#60;source&#62;</strong> tag defines multiple media resources for media elements (<strong>&#60;video&#62;</strong> and <strong>&#60;audio&#62;</strong>).</li>
                    <img src="./images/source-tag.png"></img>
                    <li><strong>&#60;sub&#62;</strong> tag defines subscripted text.</li>
                    <img src="./images/sub-tag.png"></img>
                    <li><strong>&#60;summary&#62;</strong> tag defines a visible heading for a <strong>&#60;details&#62;</strong> element.</li>
                    <img src="./images/summary-tag.png"></img>
                    <li><strong>&#60;sup&#62;</strong>tag defines superscripted text.</li>
                    <img src="./images/sup-tag.png"></img>
                    <li><strong>&#60;template&#62;</strong> tag is a mechanism for holding client-side content that is not to be rendered when a page is loaded but may subsequently be instantiated during runtime using JavaScript.</li>
                    <img src="./images/template-tag.png"></img>
                    <li><strong>&#60;textarea&#62;</strong> tag defines a multiline input control (text area).</li>
                    <img src="./images/textarea-tag.png"></img>
                    <li><strong>&#60;time&#62;</strong> tag defines a date/time</li>
                    <img src="./images/time-tag.png"></img>
                    <li><strong>&#60;track&#62;</strong> tag defines text tracks for media elements (<strong>&#60;video&#62;</strong> and <strong>&#60;audio&#62;</strong>).</li>
                    <img src="./images/track-tag.png"></img>
                    <li><strong>&#60;var&#62;</strong> tag defines a variable.</li>
                    <img src="./images/var-tag.png"></img>
                    <li><strong>&#60;wbr&#62;</strong> tag defines a possible line-break.</li>
                    <img src="./images/wbr-tag.png"></img>
                  </ul>
              </section>

              <section class='blogposts'>
                <time datetime="2018-11-09">SEPTEMBER 11, 2018</time>
                <h2>How technical should designers be? What are the benefits of being a designer who codes? What are the drawbacks?</h2>
                <p>There are numerous sources floating around the internet on an ever-growing debate: designers learning to code, designers as developers, and the rare sightings of the &#8220;Design Unicorn &#8221; (super humans who have mastered their craftsmanship in both design and development).</p>
                <p>With the advancement of technology and digital becoming the primary medium with which people receive information, news, and updates arrived new titles, roles, expectations, and problems. Graphic Designers specializing in anything print related are becoming niche professions, while the community of those who appreciate the art of print and book design are scarcer. A designer’s technical skills are now determined by companies’ needs and professional development on an individual level (optional). It is not uncommon nowadays to seek an entry level position and see that job requirements are beyond just one specialized skill.</p>
                <p>My thoughts are that having fluent coding skills is not necessary for a designer to have, but it is <em>absolutely</em> beneficial if a designer either already possesses that knowledge on their belt, is willing to actually invest the time and energy into learning it, or seeks professional development because design is a constant path of learning, improvement, and growth.</p>
                <p>After researching and reading a few articles, here are some conclusions about the benefits and drawbacks of being a designer who codes:</p>

                <br/>

                  <h5><strong>BENEFITS</strong></h5>

                  <h4><strong>UX Research and UI Design Process</strong></h4>
                  <ul class='old-post'>
                    <li>Understanding the medium with which you create helps in understanding knowing the limitations of the current system, as well as user pain points and possible solutions for those problems.</li>
                    <li>Completely avoids the risk of blurring the lines between art and design. Design serves a very specific purpose and solves problems, whereas art is intended to be consumed and make you question, contemplate, and feel.</li>

                    <h4><strong>Now you’re speaking the same language. Literally.</strong></h4>
                      <ul>
                      <li>Fosters a stronger community, creates a deeper understanding between designers and developers, and offers a more effective way of pairing.</li>
                      <li>Developers&#8217;  understanding of the language and its limitations can greatly influence design decisions.</li>
                      <li>Newfound knowledge can help you discover fresh approaches to common problems, develop new ways of thinking, and learn to consider your work more objectively.</li>

                    <h4><strong>Stay fresh, stay current</strong></h4>
                      <ul>
                        <li>Although is it not absolutely necessary that a designer learn to code, it is necessary for a designer to fully understand technologies and how they work.</li>
                        <li>Having a knowledge of code will lead to increased empathy for your teammates&#8217; respective challenges.</li>
                        <li>Learning and mastering new skills promotes innovation and creativity in itself.</li>
                        <li>Possessing fluent coding skills secures a stronger position in the job market.</li>
                      </ul>

              <br/>

                <h5><strong>DRAWBACKS</strong></h5>
                <h4><strong>Time is of the essence</strong></h4>
                  <ul>
                    <li>Learning is a commitment that takes time and energy, which not many have.</li>
                    <li>Redistributing time towards development could also mean taking away progress in another area of the project (i.e. In terms of a designer, this could be user testing, designing features, fixing usability issues, and other problems that may arise in the development of a new product).</li>
                  </ul>

                <h4><strong>Wearing another hat</h4></strong>
                <ul>
                  <li>Naturally, the more skills you attain and develop, the more versatile you can be. Although designers with fluent coding skills are a valuable asset to any team, this can quickly become draining to learn while working full-time and not the most cost effective while you earn the salary of a single person to accomplish a job that takes multiple.
                  <li>Designers who can code, usually design only according to how much knowledge in coding they have accrued.</li>
                  <li>The more knowledge in development you gain can also limit your creativity and audacity to explore new designs.</li>
                </ul>

                <h4><strong>Empathy vs. Expectations</h4></strong>
                  <ul>
                  <li>It’s either developers expecting designers to be more empathetic and vice versa.</li>
                  <li>There are professionals who are able to direct others and accomplish business goals without ever having actually performed that task themselves.</li>
                  <li>Task performance does not equate to understanding or knowing how it will affect others in business, such as the team, client project, or the company overall.</li>
                  </ul>

                  <br/><br/>

                <h5><strong>SOME SOURCES</strong></h5>
                <h6><ul>
                  <li><a href="https://blog.prototypr.io/css-the-rise-of-the-technical-designer-6474366b3c28">CSS & The Rise of the Technical Designer – Prototypr</a></li>
                  <li><a href="https://medium.com/@MrAlanCooper/should-designers-code-cde3ef9d6621"> Should Designers Code???? – Alan Cooper – Medium</a></li>
                  <li><a href="https://uxdesign.cc/should-designers-be-developers-too-a12e3b86fde9"> Should designers be developers too</a></li>
                  <li><a hef="https://careerfoundry.com/en/blog/ux-design/why-should-designers-learn-to-code/">Why Should Designers Learn to Code? | CareerFoundry</a></li>
                  <li><a href="https://thenextweb.com/contributors/2017/09/23/designers-code-no-seriously-though)">Why designers should learn to code — or at least consider it</a></li>
                  <li><a href="https://medium.com/@MrAlanCooper/should-designers-code-f7b745b8cd03">Should designers code
                  </a></li>
                </ul></h6>
                  </section>
              </main>
  <footer>
      &#169; 2018 Gina Valdez, 8th Light
  </footer>
</body>
</html>