<!DOCTYPE html>
<html lang='en'>
<meta charset='UTF-8' />

<head>
  <title>Gina's Apprenticeship Blog</title>
  <link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <meta name="viewport" content="initial-scale: 1.0" width="device-width" />
</head>

<body>

  <nav>
    <ul class="nav__ul">
      <li><a href='#'>Blog</a></li>
      <li><a href='#'>Books</a></li>
      <li><a href='#'>Resources</a></li>
    </ul>
  </nav>


    <h5 class='copyright'>&#169; 2018, 8TH LIGHT, GINA VALDEZ</h5>
    <h5 class='trademark'>GINA DESIGN APPRENTICE 2018</h5>

  <header>
    <h2>Greetings, friends and weary design nomads!</h2>
      <p>Thank you so much for visiting my blog and joining me on my newfound design journey at 8th Light! My name is Gina, I'm an east coast raised Filipina American and a midwest livin' designer with a passion for creative problem solving. As an avid hustler and independent learner, I know better than to ever start my mornings without a cup of coffee. I am a book lover, nature admirer, and an art appreciator. During my spare time, you can either catch me at a cafe, spot me at a gallery opening, or discover me trying out a new restaurant when I'm not designing or going on evening runs.</p>
  </header>

  <main>
    <section class='blogposts__container'>
      <h2>Stay Updated</h2>
        <ul>
          <h3>Most Recent</h3>
            <hr>
          <li><a href='#'>Mobile First Design vs. Mobile First Development</a></li>
          <li><a href='#'>An Overview of Typography</a></li>
          <li><a href='#'>UX Team of One by Leah Buley</a></li>
          <li><a href='#'>Brief Explanations and Examples of Every HTML Element</a></li>
          <li><a href='./blogposts/post1.html'>How Technical Should Designers Be?</a></li>
        </ul>

        <ul>
          <h3>The Archives</h3>
            <hr>
          <li><a href='#'>Mobile First Design vs. Mobile First Development</a></li>
          <li><a href='#'>An Overview of Typography</a></li>
          <li><a href='#'>UX Team of One by Leah Buley</a></li>
          <li><a href='#'>Brief Explanations and Examples of Every HTML Element</a></li>
          <li><a href='./blogposts/post1.html'>How Technical Should Designers Be?</a></li>
        </ul>
    </section>

    <section class='books__container'>
      <h2>Read Me</h2>
        <ul>
          <h3>Currently Reading</h3>
            <hr>
          <li><a href='#'>Mobile First Design vs. Mobile First Development</a></li>
          <li><a href='#'>An Overview of Typography</a></li>
          <li><a href='#'>UX Team of One by Leah Buley</a></li>
          <li><a href='#'>Brief Explanations and Examples of Every HTML Element</a></li>
          <li><a href='./blogposts/post1.html'>How Technical Should Designers Be?</a></li>
        </ul>

        <ul>
          <h3>Recommendations</h3>
            <hr>
          <li><a href='#'>Mobile First Design vs. Mobile First Development</a></li>
          <li><a href='#'>An Overview of Typography</a></li>
          <li><a href='#'>UX Team of One by Leah Buley</a></li>
          <li><a href='#'>Brief Explanations and Examples of Every HTML Element</a></li>
          <li><a href='./blogposts/post1.html'>How Technical Should Designers Be?</a></li>
        </ul>
    </section>

    <section class='resources__container'>
      <h2>Resources</h2>
        <ul>
          <h3>Sketch App Plugins</h3>
            <hr>
          <li><a href='#'>Mobile First Design vs. Mobile First Development</a></li>
          <li><a href='#'>An Overview of Typography</a></li>
          <li><a href='#'>UX Team of One by Leah Buley</a></li>
          <li><a href='#'>Brief Explanations and Examples of Every HTML Element</a></li>
          <li><a href='./blogposts/post1.html'>How Technical Should Designers Be?</a></li>
        </ul>

        <ul>
          <h3>Front End Development</h3>
            <hr>
          <li><a href='#'>Mobile First Design vs. Mobile First Development</a></li>
          <li><a href='#'>An Overview of Typography</a></li>
          <li><a href='#'>UX Team of One by Leah Buley</a></li>
          <li><a href='#'>Brief Explanations and Examples of Every HTML Element</a></li>
          <li><a href='./blogposts/post1.html'>How Technical Should Designers Be?</a></li>
        </ul>
    </section>
  </main>

  <footer>
    &#169; 2018 Gina Valdez, 8th Light
  </footer>
</body>

</html>