---
title: CSO Project
---

<!DOCTYPE html>
<html lang='en'>
  <meta charset='UTF-8' />

  <head>
    <meta name="viewport" content="initial-scale: 1.0" width="device-width" />
    <link rel="stylesheet" href="https://use.typekit.net/gsv4pnz.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

  </head> 

  <nav>
    <img class="CSO-logo" src='../images/CSO-logo.png' />

    <div class="buttons__navigation--default">
      <button>LOGIN</button>
      <button>SIGNUP</button>
    </div>
    <hr />
    <ul>
      <li><a href="#">Plan Your Experience</a></li>
      <li><a href="#">Opportunities</a></li>
      <li><a href="#">Resources</a></li>
      <li><a href="#">Support</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Store</a></li>
      <li><a href="#">Press</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <nav>


      <body>
        <img class="header-image" src='./images/cso_class2015_1200x440.jpg' />

        <section class="two-columns">
        
        <div class="two-columns__column1">
          <h1>EARLY BEGINNINGS</h1>
          <blockquote>Founded in 1891, the Chicago Symphony Orchestra is consistently hailed as one of the greatest
            orchestras in the world.</blockquote>

          <p>In collaboration with the best conductors and guest artists on the international music scene, the CSO
            performs well over one hundred concerts each year at its downtown home, Symphony Center and at the Ravinia
            Festival on Chicago’s North Shore. Music lovers outside Chicago enjoy the sounds of the Chicago Symphony
            Orchestra through best-selling recordings and frequent sold-out tour performances in the United States and
            around the globe.</p>
          </div>

          <div class="two-columns__column2">
            <h3>ABOUT THE CSO</h3>
            <ul>
              <li>Beginner's Guide to Classical Music</li>
              <li>History of the CSO</li>
              <li>Meet the Performers</li>
              <li>Beyond the Scoring License</li>
            </ul>
          </div>
          
        </section>

      </body>

      <footer>
      </footer>