---
title: CSO Opportunities
---

<main>

  <section class="opportunities__involved">
    <img class="image__left" src="../images/opportunities-get-involved.png" />
      
      <div class="colorblock__right--involved">
        <h2>WAYS TO GET INVOLVED</h2>
          <ul class="link__highlight--condensed">
            <li><a href="#">Auxiliary Volunteers</a></li>
            <li><a href="#">Governing Members</a></li>
            <li><a href="#">Overture Council</a></li>
            <li><a href="#">Women's Board</a></li>
            <li><a href="#">League</a></li>
            <li><a href="#">The Club</a></li>
            <li><a href="#">Latino Alliance</a></li>
            <li><a href="#">African American Network</a></li>
            <li><a href="#">Current Events</a></li>
          </ul>
      </div>
  </section>

 <div class="image__left--description">
        <h1>GET INVOLVED</h1>
          <p>From employment to professional development to volunteering, the Chicago Symphony Orchestra has a variety of events and activities to suit your musical tastes and interests.</p>
      </div>
  
  <section class="opportunities__education">
    <img class="image__left" src="../images/opportunities-education.png" />
    
    <div class="colorblock__right--education">
        <h2>FOR CHILDREN AND FAMILIES</h2>
          <ul class="link__highlight--condensed">
            <li><a href="#">Auxiliary Volunteers</a></li>
            <li><a href="#">Governing Members</a></li>
            <li><a href="#">Overture Council</a></li>
            <li><a href="#">Women's Board</a></li>
            <li><a href="#">League</a></li>
            <li><a href="#">The Club</a></li>
            <li><a href="#">Latino Alliance</a></li>
            <li><a href="#">African American Network</a></li>
            <li><a href="#">Current Events</a></li>
          </ul>
      </div>
      
      <div class="image__left--description">
        <h1>EDUCATION</h1>
          <p>Appreciate music with the family at our  Family Matinees, practice and compete with the Young Musicians, or fully develop your skills professionally with the Civic Orchestra. Aditionally, the CSO has a variety of other programs for young people to practice and exercistheir musical skills through competitions and real-world applications.</p>
      </div>
  </section>
  
  <section class="opportunities__employment">
    <img class="image__left" src="../images/opportunities-employment.png" />
      
      <div class="colorblock__right--employment">
        <h2>EMPLOYMENT</h2>
          <ul class="link__highlight--condensed">
            <li><a href="#">Auxiliary Volunteers</a></li>
            <li><a href="#">Governing Members</a></li>
            <li><a href="#">Overture Council</a></li>
            <li><a href="#">Women's Board</a></li>
            <li><a href="#">League</a></li>
            <li><a href="#">The Club</a></li>
            <li><a href="#">Latino Alliance</a></li>
            <li><a href="#">African American Network</a></li>
            <li><a href="#">Current Events</a></li>
          </ul>
      </div>
  </section>
  
  
  <div class="image__left--description">
        <h1>EMPLOYMENT</h1>
          <p>Join the CSO family full-time or part-time, learn new things through one of our internships, or work for one of our vendors as a full-time employee!</p>
      </div>
  </section>

</main>