---
title: CSO Opportunities
---

<header>
  <img class="header__image" alt="Guest dancers from Chicago’s Joffrey Academy of Dance join Members of the Chicago Symphony Orchestra for a thrilling program highly recommended for families, The Firebird. The Firebird depicts the heroic efforts of Prince Ivan and a magical glowing bird who defeat evil and restore harmony to the world."
    src='./images/plan-header.png' />
  <section class="header__event">
    <h1>UPCOMING EVENTS</h1>

    <section class="header__event--date">
      <h1>22</h1>
      <h4>FEB</h4>
    </section>

    <section class="header__event--details">
      <h2>CSO Family Series&#8758;<br> The Firebird</h2>
      <h4>Friday, 7:30pm</h4>

      <section class="header__event--links">
        <h4 class="link__highlight--reversed"><a href='#'>GET TICKETS</a></h4>
        <h4 class="link__highlight--reversed"><a href='#'>ALL EVENTS</a></h4>
      </section>
    </section>
</header>

<main>
  <section class="plan__section">
    <img class="image__left" alt="A group of middle school children smiling eagerly, as they eagerly wait in line to see a performance at the Chicago Symphony Orchestra."
      src="../images/ticket-info.png" />

    <section class="plan__section--primary">
      <ul class="link__highlight--condensed">
        <h2>TICKET INFORMATION</h2>
        <li><a href="#">Student Tickets</a></li>
        <li><a href="#">Group Services</a></li>
        <li><a href="#">Ticket FAQs</a></li>
        <li><a href="#">Donate&#x2215;Exchange Tickets</a></li>
        <li><a href="#">Gift Certificates</a></li>
        <li><a href="#">Seating Charts</a></li>
        <li><a href="#">General FAQ</a></li>
    </section>
  </section>

  <section class="plan__section">
    <img class="image__left" alt="Photo of two bedrooms at a hotel recommended by a website called HotelCombined." src="../images/accomodations.png" />

    <section class="plan__section--secondary">
        <h2>HOTELS AND RESTAURANTS</h2>
    <ul>
        <li><h4><strong>HotelsCombined</strong></h4></li>
        <li>325 S. Michigan Ave.</li>
        <li>Between Adams & Jackson</li>
        <li>(312) 922-1156</li>
        <li class="link__highlight--condensed"><a href="#">HotelsCombined</a></li>
    </ul>

    <ul>
        <li><h4><strong>The Richard and Helen Thomas Club at Symphony Center</strong></h4></li>
        <li>22 S Michigan Ave.</li>
        <li>8th & 9th floors</li>
        <li>(312) 294-3585</li>
        <li class="link__highlight--condensed"><a href="#">The Club</a></li>
    </ul>

    <ul>
        <li><h4><strong>Tesori</strong></h4></li>
        <li>65 E Adams St.</li>
        <li>(312) 786-9911</li>
        <li><a href="#" class="link__highlight--condensed">TesoriChicago.com</a></li>
     </ul>
    </section>


    <section class="plan__section">
      <img class="image__left" alt="A bird's eye view of Millenium Park, a popular Chicago tourist attraction site."
        src="../images/parking.png" />

      <section class="plan__section--tertiary">
        <h2>PARKING</h2>
        <ul>
          <li><h4>Grant Park South Garage</h4></li>
          <li>325 S. Michigan Ave.</li>
          <li>Between Adams & Jackson</li>
        </ul>

         <ul>
          <li><h4>Grant Park North Garage</h4></li>
          <li>25 N. Michigan Ave.</li>
          <li>Between Adams & Jackson</li>
          <li>(312) 922-1156</li>

          <li><a class="link__highlight--condensed" href="#">Millennium Garages</a></li>
         </ul>

        <ul>
          <li><h4>Public Transportation</h4></li>
          <li>Divvy Bike Share System</li>
          <li>1-855-55-DIVVY</li>
          <a class="link__highlight--condensed" href="#">Divvy Bikes</a></li>
        </ul>

        <ul>
          <li><h4>Public Transportation</h4></li>
          <li>Take the Green / Brown Line</li>
          <li>to Adams / Wabash</li>

          <a class="link__highlight--condensed" href="#">Plan a Trip</a>
        </ul>
      </section>
    </section>

    <section class="plan__section">
      <img class="image__left" alt="An image of gallery visitors viewing artwork at The Art Institute of Chicago." src="../images/sightseeing.png" />

      <section class="plan__section--quaternary">
       <ul>
        <h2>SIGHTSEEING</h2>
          <li><h4>The Art Institute of Chicago</h4>
          <li>111 S Michigan Ave.</li>
          <li>(340) 443-3600</li>
          <li><a href="#" class="link__highlight--condensed">The Art Institute of Chicago</a></li>
        </ul>

        <ul>
          <h4>Explore Chicago Loop</h4>
          <li>Chicago Loop Alliance</li>
          <li>(312) 782-9160</li>
          <li><a href="#" class="link__highlight--condensed">LoopChicago.com</a></li>
        </ul>

      </section>
    </section>

    <section class="plan__section">
      <img class="image__left" alt="Image of grayscale map showing location of the Symphony Center, where the Chicago Symphony Orchestra frequently performs."
        src="../images/directions.png" />

      <section class="plan__section--quinary">
        <ul>
          <li><h2>DIRECTIONS</h2></li>
            <li><h4>Symphony center</h4></li>
            <li>220 S Michigan Ave.</li>
            <li>P: (312) 294-3000</li>
            <li>F: (312) 294-3329</li>
            <li><a href="#" class="link__highlight--condensed">Contact the Symphony Center</a></li>
        </ul>

         <ul>
            <h4>The Symphony Store</h4>
            <li>The Symphony Store</li>
            <li>67 E. Adams St.</li>
            <li>Chicago, IL 60604</li>
            <li>(312) 294-3345</li>
            <li><a href="#" class="link__highlight--condensed">Contact the Symphony Store</a></li>
        </ul>
        
      </section>
    </section>

</main>
